<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>G</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-68</integer>
		<key>V</key>
		<integer>-85</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-35</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>O</key>
		<integer>-15</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-31</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>40</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-109</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>O</key>
		<integer>-28</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-85</integer>
		<key>c</key>
		<integer>-71</integer>
		<key>e</key>
		<integer>-71</integer>
		<key>o</key>
		<integer>-71</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-50</integer>
		<key>e</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-50</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-113</integer>
		<key>e</key>
		<integer>-113</integer>
		<key>o</key>
		<integer>-113</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>backslash</key>
		<integer>-135</integer>
		<key>slash</key>
		<integer>90</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>V</key>
		<integer>-71</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-113</integer>
		<key>o</key>
		<integer>-11</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>V</key>
		<integer>-71</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-113</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>V</key>
		<integer>-71</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-113</integer>
		<key>w</key>
		<integer>-19</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>o</key>
		<integer>-8</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>slash</key>
		<integer>-135</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>d</key>
		<integer>-21</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>e</key>
		<integer>-23</integer>
		<key>o</key>
		<integer>-30</integer>
	</dict>
</dict>
</plist>
