<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>G</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-10</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>O</key>
		<integer>-15</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-109</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>O</key>
		<integer>-28</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-85</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>w</key>
		<integer>-19</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>o</key>
		<integer>-8</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>slash</key>
		<integer>-135</integer>
	</dict>
</dict>
</plist>
