<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>35616FF6-3D9C-499B-B113-AC9E0DB5842A</key>
		<dict>
			<key>HH</key>
			<integer>74</integer>
			<key>HV</key>
			<integer>78</integer>
			<key>OH</key>
			<integer>71</integer>
			<key>OV</key>
			<integer>79</integer>
			<key>nV</key>
			<integer>75</integer>
			<key>nd</key>
			<integer>67</integer>
			<key>oH</key>
			<integer>67</integer>
			<key>oV</key>
			<integer>75</integer>
		</dict>
		<key>A0D976AB-773B-4D3A-9F7E-7A0C42AF1E7B</key>
		<dict>
			<key>HH</key>
			<string>173</string>
			<key>HV</key>
			<string>194</string>
			<key>OH</key>
			<string>176</string>
			<key>OV</key>
			<string>200</string>
			<key>nV</key>
			<string>193</string>
			<key>nd</key>
			<string>160</string>
			<key>oH</key>
			<string>160</string>
			<key>oV</key>
			<string>184</string>
			<key>tH</key>
			<string>152</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>A0D976AB-773B-4D3A-9F7E-7A0C42AF1E7B</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>900</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>a.001</string>
		<string>comma</string>
		<string>period</string>
		<string>space</string>
		<string>lowercase_loop</string>
		<string>lowercase_nh_shoulder</string>
	</array>
</dict>
</plist>
