<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_G</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-68</integer>
		<key>@MMK_R_V</key>
		<integer>-85</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-31</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>-109</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-28</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_a</key>
		<integer>-41</integer>
		<key>@MMK_R_c</key>
		<integer>-71</integer>
		<key>@MMK_R_e</key>
		<integer>-71</integer>
		<key>@MMK_R_o</key>
		<integer>-71</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_c</key>
		<integer>-50</integer>
		<key>@MMK_R_e</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
		<key>@MMK_R_c</key>
		<integer>-113</integer>
		<key>@MMK_R_e</key>
		<integer>-113</integer>
		<key>@MMK_R_o</key>
		<integer>-113</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-71</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-113</integer>
		<key>@MMK_R_o</key>
		<integer>-11</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-71</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-113</integer>
		<key>@MMK_R_w</key>
		<integer>-24</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-71</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-113</integer>
		<key>@MMK_R_v</key>
		<integer>-27</integer>
		<key>@MMK_R_w</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_d</key>
		<integer>-21</integer>
		<key>@MMK_R_e</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>-85</integer>
		<key>period</key>
		<integer>-85</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-24</integer>
		<key>@MMK_R_o</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>-65</integer>
		<key>period</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-23</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-85</integer>
		<key>period</key>
		<integer>-85</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>backslash</key>
		<integer>-135</integer>
		<key>slash</key>
		<integer>90</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>slash</key>
		<integer>-135</integer>
	</dict>
</dict>
</plist>
